[submodule "Throneteki.Web/ClientApp"]
	path = Throneteki.Web/ClientApp
	url = git@github.com:throneteki/throneteki-client.git
[submodule "Throneteki.Data"]
	path = Throneteki.Data
	url = git@github.com:throneteki/Throneteki.Data.git
