[submodule "Throneteki.Data"]
	path = Throneteki.Data
	url = https://github.com/throneteki/Throneteki.Data.git
[submodule "Throneteki.Web/ClientApp"]
	path = Throneteki.Web/ClientApp
	url = https://github.com/throneteki/throneteki-client.git
